.section {
  border-bottom-width: 1px;
  max-height: 50vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {

}

.divider {
  opacity: 0.5
}

.content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
