.spriteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  flex-grow: 1;
  overflow-y: auto;
}

.sprite {
  width: 54px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  font-size: 80%;
  border-width: 2px;
  border-color: black !important;
  background-color: rgb(120, 120, 135);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

/*.sprite:active {*/
/*  cursor: grabbing;*/
/*}*/

.sprite .image {
  width: 54px;
  height: 54px;
  background-size: cover;
  background-position: center center;
}

.sprite .title {
  width: 54px;
  height: 16px;
  background: rgba(20,20,25,1);
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding: 0 2px;
  line-height: 18px;
}

.sprite:hover {
  border-color: #414141 !important;
}

.sprite.selected {
  border-color: #b2ae6d !important;
}
