* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

div {
  border-width: 0;
}

body, h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

a {
  font-weight: bold;
  text-decoration: inherit;
}

a, a:visited, a:active, a:hover {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}



:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/**
 * For now, just always show dark theme.
 *
 * TODO - create better styles for light theme.
 */

/*@media (prefers-color-scheme: dark) {*/
  :root {
    color: #f6f6f6;
    background-color: rgba(42, 42, 42, 1);
  }

  a {
    color: #f6f6f6;
  }

  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }

  .ReactModal__Content {
    background-color: rgba(42, 42, 42, 1) !important;
    border-color: rgb(35, 35, 35) !important;
  }
/*}*/

/**
 * Scrollbars!
 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #3f4346;
}
::-webkit-scrollbar-thumb {
  background: #2f2f33;
  border-left: 1px solid #505759;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2a2a2d;
}
